:root {
    --magin-bg-color: #FFFFFF;
}

html, body{
    font-family: 'Open Sans', Georgia, sans-serif;
    color: #595959;
    height: 110%;

    margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	background: rgb(24, 24, 24); 
	font-size: 1.1rem;
	line-height: 1.5em;
}

/* ---------------------- CABECERA ------------------ */
#main-header {
	background: var(--magin-bg-color);
	color: rgb(176, 194, 214);
	height: 160px;
}	
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
    vertical-align: top;    
}
#logoimg{
    max-height:100px;
    display:inline-block; 
}
#logotext{
    display:inline-block; 
    font-style: italic;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;    
    vertical-align: top;
}
.navbar{
    float:right;
    padding-right:15px;
    background-color: var(--magin-bg-color);
    font-family: 'Libre Baskerville', serif;
}
.dropdown-menu{
    background-color: var(--magin-bg-color);
}

/* ---------------------- CINTILLO ------------------ */
#main-cintillo{
    margin-top: 0px;
    padding: 10px;
    background-color: var(--magin-bg-color);
    border-top-right-radius:0px;
    border-top-left-radius:0px;
    min-height: 50px;

    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
}
hr.titulo{
    width:50%;
    border:7px solid rgb(153, 146, 47); 
    opacity:100%;
}

/* ---------------------- MAIN ------------------ */
#main{
    /*margin-top: 4px;*/
    padding: 20px;
    background-color: var(--magin-bg-color);
    width:100%;
    height: 100%;
    font-size: 1.3rem;

    font-family: 'Open Sans', Georgia, sans-serif;
    color: #595959;
    font-weight: 400;
    line-height: 1.5;
    text-align: justify;
}

footer{
    background-color: #F3F3F3;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size:1rem;
    width:100%;
    
}
.footer-box{
    display:inline-block;
    padding:1rem;
    vertical-align: top;
}




/* ----------------------- GENERALES ------------- */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.icono-ch {
    padding:5px;
    margin:2px;
    
    width:30px;
    height:20px;
    
    font-size:12px;
    font-weight:400;
    /* top:50%;
    vertical-align: middle; */
    
    display: grid;
    align-items: center;

    color:white;
    text-align:center;
    line-height: 0.7;
    border-radius:7px;
    /* background-color: #6C757D; */
    background-color: #929da7;
    cursor:pointer;   
}
.icono-ch:hover{
    background-color: #60686e;
}
.icono-simple{
    font-size:20px; 
    color:rgb(185, 185, 185); 
    vertical-align:bottom;
    cursor: pointer;
}
.icono-simple:hover{
    color:rgb(128, 128, 128); 
}


a.nolink{text-decoration:none;color:inherit;}
a:link:visited:hover:active.nolink{text-decoration:none;color:inherit;}
/* ------------  Corta texto a los 380px ------------- */
.cortaTexto{overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 380px;}
/* ------------  Corta texto a las 3 líneas ------------- */
.cortaLineas { overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}

error {color:red; font-size: 1.2rem; }
red{color:red;}
.error {border:1px solid red;}