a.nolink{
    text-decoration:none;
    color:inherit;
}
a:link:visited:hover:active.nolink{
    text-decoration:none;
    color:inherit;
}
/* ------------  Corta texto a los 380px ------------- */
.cortaTexto{overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 380px;}
/* ------------  Corta texto a las 3 líneas ------------- */
.cortaLineas { overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}

/* Centra un Div.center dentro de otro div */
.center {
    /* margin: auto; */
    margin-left:auto;
    margin-right: auto;
    /* width: 50%; */
}

/* <error> y class=error van al final

.inactivar{
    background-color:red;
}

colores{
    color: #64383E;
    color: #efebe8;
    color: #CDC6B9;

    color: #87796d;
    color: #CD7B34;
    color: #919C1B;
    color: #202d2d;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Noto Serif JP', serif;
}

/* ---------- Paginador ---------- */
.paginador .boton,
.paginador .pagina {
    position: relative;
    padding: 5px;
    margin: -35px auto;
    background: #CDC6B9;
    height: 45px;
    width: 45px;
    border-radius: 7px;
    transition: all 0.2s linear;
}
.paginador .boton{
    border-radius: 50%;
}
.paginador .boton:hover,
.paginador .pagina:hover {
    transform: translate3d(0, 5px, 0);
}
.paginador .abajo::after {
    content: "";
    position: absolute;
    left: 12px;
    z-index: 11;
    display: block;
    width: 20px;
    height: 20px;
    border-top: 2px solid #efebe8;
    border-left: 2px solid #efebe8;
    top: 10px;
    transform: rotate(225deg);
}
.paginador .arriba::after {
    content: "";
    position: absolute;
    left: 12px;
    z-index: 11;
    display: block;
    width: 20px;
    height: 20px;
    border-top: 2px solid #efebe8;
    border-left: 2px solid #efebe8;
    top: 15px;
    transform: rotate(45deg);
}
.paginador a:link:visited:hover:active{
    text-decoration:none;
    color:inherit;
}
.paginador  .pagina{
    color: #64383E !important;
    text-align: center;
    vertical-align: middle;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;
    /* margin: 48px -3px; */
}




/* ------------ Formularios ---------*/
.form-select {
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    /* display: block; */
    /* width: 100%; */
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    /* color: var(--bs-body-color); */
    color: #64383E !important;
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* background-color: var(--bs-body-bg); */
    background-color: #CDC6B9;
    background-image: var(--bs-form-select-bg-img),var(--bs-form-select-bg-icon,none);
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control, .forma-icon {
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    /* color: var(--bs-body-color); */
    color: #64383E !important;
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #CDC6B9;
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control{
    display: block;
    width: 100%;
}
.btn-primary {
    --bs-btn-color:  #efebe8;
    --bs-btn-bg: #64383E;
    --bs-btn-border-color: #87796d;
    --bs-btn-hover-color:  #efebe8;
    --bs-btn-hover-bg: #87796d;
    --bs-btn-hover-border-color:#87796d;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color:  #efebe8;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color:  #efebe8;
    --bs-btn-disabled-bg: #64383E;
    --bs-btn-disabled-border-color: #64383E;
}
.form-group label,
.form-check label{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    /* color: var(--bs-body-color); */
    color: #202d2d !important;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}
.form-check label{
    text-align: left;
}
.form-check-input {
    --bs-form-check-bg: var(--bs-body-bg);
    flex-shrink: 0;
    width: 1.5em;
    height: 1.5em;
    margin-top: .25em;
    vertical-align: top;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #CDC6B9;
    background-image: var(--bs-form-check-bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
.form-check-input:checked {
    background-color:  #87796d;
    border-color: #CDC6B9;
}
.form-check-input[type="checkbox"] {
border-radius: .25em;
}
.form-check .form-check-input {
float: left;
margin-left: -1.5em;
}

/* para meter ícono dentro de input */
.form-con-icono{
    position:relative;
}
.form-icon{
    color: #202d2d;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 85%;
    top: 50%;
    transform: translateY(-50%);
    font-size:1rem;
}

.boton {
    background-color: #64383E;
    padding: 15px 20px;
    color: #efebe8;
    font-size: 18px;
    display:inline-block;
}

.boton:hover {
    background-color: #CDC6B9;
    color: #64383E;
}

.boton2 {
    background-color: #CD7B34;
    padding: 15px 20px;
    color: #efebe8;
    font-size: 18px;
    display:inline-block;
}

.boton2:hover {
    background-color: #CDC6B9;
    color: #CD7B34;
}

.boton3 {
    background-color: #919C1B;
    padding: 15px 20px;
    color: #efebe8;
    font-size: 18px;
    display:inline-block;
}

.boton3:hover {
    background-color: #CDC6B9;
    color: #919C1B;
}

colores{
    color: #64383E;
    color: #efebe8;
    color: #CDC6B9;

    color: #87796d;
    color: #CD7B34;
    color: #919C1B;
    color: #202d2d;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Noto Serif JP', serif;
}



/* ------------ Botón de audio ---------*/
/* .audio {
    background-image: url('/iconos/voz.png') !important;
    background-color:#EFEBE8;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    margin:0;
    padding:0;
    border: none !important;
    width:  45px;
    height: 25px;
    font-size: 15px;
    color:#212529;

} */


error, red {
    color:#CD7B34;
    font-size: 1.2rem;
    font-family: 'Roboto Condensed', sans-serif;
}
.error {
    border: 3px solid #CD7B34;
    font-family: 'Roboto Condensed', sans-serif;
}

.etiqueta{
    font-size:10px;
    border:1px solid #87796d;
    display:inline-block;
    padding:3px;
    border-radius:4px;
    background-color:#CDC6B9
}
.PaClick{
    cursor:pointer;
}
/* .etiqueta:after{
    content: '';
    background:url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSj3XfIpf-OOJRCcWz4iN2CU3qMKVVbj0p0bRvKNGVo1U9pk_8ZIlyR8pWreA');
    background-size:cover;
        position:absolute;
    width:20px;
    height:20px;
    margin-left:-20px;
} */

.TipoTabla{
    display:inline-block;
}

